// MenuBar
.Button {
  font-weight: 'bold';
  background-color: #84d4fc !important;
  border-color: white !important;

  &:disabled { 
    background-color: pink !important;
    color: pink !important;
  }
}

.Button:disabled {
  background-color: pink !important;
  color: pink !important;
}

