// MenuBar && PostCard
.Button-NoBG {
  // background-color: #84d4fc !important;
  border-color: white !important;
  
  &:hover, &:focus {
    background-color: white !important;
    outline: none !important;
  }
}

.cursive {
  font-family: 'Chilanka', cursive;
}